@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT Serif";
  src: local("PT Serif"), local("PTSerif-Regular"), url("../fonts/PTSerif-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
  font-size: calc(0.8rem + 0.3vw);
}

body {
  background: #ffffff;
  color: #212228;
  font-family: "PT Sans", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #212228;
    color: #ffffff;
  }
}

h1, h2, h3, h4, h5, h6 {
  /*font-weight: 600;*/
}

b, strong, th {
  font-weight: 600;
}

p {
  text-align: justify;
}

a {
  color: #68f;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

header a, footer a, aside a {
  color: inherit;
}

header time {
  color: #909194;
}

img, li {
  margin: 0.5em 0;
}

img {
  border-radius: 2px;
  max-width: 100%;
  height: auto;
}

table {
  display: inline-block;
  max-width: 100%;
  overflow-y: scroll;
  border-spacing: 1px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(144, 145, 148, 0.12) inset;
}

th, td {
  padding: 0.5em 1em;
  box-shadow: 0 0 0 1px rgba(144, 145, 148, 0.12);
}

tr:hover, tr:nth-child(odd) td {
  background: rgba(144, 145, 148, 0.04);
}

pre {
  background: rgba(144, 145, 148, 0.12);
  border-radius: 2px;
  font-size: 0.8em;
  margin: 1.5em 0;
  padding: 0.8em 1.2em;
  overflow-x: auto;
}

nav {
  margin: 0.5em -1em;
}

nav a {
  margin: 0.5em 1em;
}

body > header, body > footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

body > header {
  /* box-shadow: 0 0 .6em rgba(33, 34, 40 ,0.04);
  border-bottom: 1px solid rgba(144, 145, 148, 0.14);*/
}

body > footer {
  /*box-shadow: 0 0 .6em rgba(33, 34, 40 ,0.04) inset;
  border-top: 1px solid rgba(144, 145, 148, 0.14);*/
}

@media (min-width: 38em) {
  body > header, body > footer {
    padding: 1.0em;
  }
}

.title {
  font-size: 1.5em;
}

episodes ul {
  list-style-type: none;
  padding-left: 1.0em;
}

.archive {
  font-size: 1.1em;
}

.archive time {
  display: inline-block;
  min-width: 10ch;
  margin: 0 0.2em;
}

.episode {
  padding-left: 1.0em;
  padding-right: 1.0em;
}

.episode header {
}

.episode header h1 {
  font-size: 2.0em;
  margin: 0em;
}

.episode .metadata {
  margin-top: 0.5em;
}

.episode .audio {
  margin-top: 1.5em;
}

.episode .story {
  font-family: "PT Serif", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  font-size: medium;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 1.5em;
}