{{ define "main" }}

<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{ if .Date }}<time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 02, 2006"
      }}</time>{{ end }}
  </header>

  <div>
    Episode: {{ .Params.podcast.episode }}<br>
    Duration: {{ .Params.podcast.duration }}<br>
    Tags: {{ .Params.tags }}
  </div>

  <div>
    <audio controls preload="{{ site.Params.preload | default " metadata" }}">
      <source src="{{ .Site.Params.cdnURL }}/{{ .Site.Params.parentGUID }}/{{ .Params.podcast.mp3 }}" type="audio/mpeg">
    </audio>
  </div>

  <div>
    {{ .Content }}
  </div>

</article>

{{ end }}